{%- assign for_drawer = true -%}

{%- if template == 'cart' or template == 'cart.ajax' -%}
  {%- assign for_drawer = false -%}
{%- endif -%}

<div class="Cart__ItemList">
  {%- unless for_drawer -%}
    <div class="Cart__Head hidden-phone">
      <span class="Cart__HeadItem Heading Text--subdued u-h7">{{ 'cart.items.product' | t }}</span>
      <span class="Cart__HeadItem"></span>
      <span class="Cart__HeadItem Heading Text--subdued u-h7" style="text-align: center">{{ 'cart.items.quantity' | t }}</span>
      <span class="Cart__HeadItem Heading Text--subdued u-h7" style="text-align: right">{{ 'cart.items.total' | t }}</span>
    </div>
  {%- endunless -%}

  {%- for line_item in cart.items -%}
    {%- comment -%} Bold:POv2.3 HYBRID {%- endcomment -%}
    {% if line_item.properties._boldBuilderId  and line_item.properties._boldVariantIds == null %}
      <input type="hidden" name="updates[]" id="updates_{{ line_item.key }}" data-id="{{ line_item.key }}" pattern="[0-9]*" data-line-id="{{ line_item.key }}" value="{{ line_item.quantity }}">
      {% continue %}
    {% endif %}       
    {%- if for_drawer -%}
      <div class="CartItemWrapper">
    {%- endif -%}

    <div class="CartItem">
      <div class="CartItem__ImageWrapper AspectRatio">
        <div class="AspectRatio" style="--aspect-ratio: {{ line_item.image.aspect_ratio }}">
          <img class="CartItem__Image" src="{{ line_item.image | img_url: '240x' }}" alt="{{ line_item.image.alt | escape }}">
        </div>
      </div>

      <div class="CartItem__Info">
        <h2 class="CartItem__Title Heading">
          <a href="{{ line_item.url }}">{{ line_item.product.title }}</a>
        </h2>

        <div class="CartItem__Meta Heading Text--subdued">
          {%- unless line_item.product.has_only_default_variant -%}
            <p class="CartItem__Variant">{{ line_item.variant.title }}</p>
          {%- endunless -%}

          {% comment %} Bold:POv2 {% endcomment %}
          <ul class="CartItem__PropertyList">
            <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_properties" style="display:none !important;"></span>
            {% assign propertySize = line_item.properties | size %}
            {% if propertySize > 0 %}
              {% for p in line_item.properties %}
                {%- if p.first.first == '_' -%}{%- continue -%}{%- endif -%}
                {% assign first_character_in_key = p.first | truncate: 1, '' %}
                <li class="CartItem__Property">
                  {% unless p.last == blank or first_character_in_key == '_' %}
                    {{ p.first }}:
                    {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {% else %}
                      {{ p.last }}
                    {% endif %}
                    <br/>
                  {% endunless %}
                </li> 
              {% endfor %}
            {% endif %}
          </ul>
          <div class="bold_edit_in_cart"></div>

          <div class="CartItem__PriceList">
            {%- if line_item.original_price > line_item.price -%}
              <span class="CartItem__Price Price Price--highlight" data-money-convertible>
                {% comment %} Bold:POv2 {% endcomment %}
                <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price" style="display:none !important;"></span>
                {{ line_item.price | money_without_trailing_zeros }}
              </span>
              <span class="CartItem__OriginalPrice Price Price--compareAt" data-money-convertible>{{ line_item.original_price | money_without_trailing_zeros }}</span>
            {%- else -%}
              <span class="CartItem__Price Price" data-money-convertible>
                {% comment %} Bold:POv2 {% endcomment %}
                <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price" style="display:none !important;"></span>               
                {{ line_item.price | money_without_trailing_zeros }}
              </span>
            {%- endif -%}
          </div>
        </div>

        {%- capture item_actions -%}
          <div class="CartItem__Actions Heading Text--subdued" style="text-align: center">
            <div class="CartItem__QuantitySelector">
              <div class="QuantitySelector">
                {%- assign quantity_minus_one = line_item.quantity | minus: 1 -%}

                <a class="QuantitySelector__Button Link Link--primary" title="{{ 'cart.items.set_quantity' | t: new_quantity: quantity_minus_one }}" href="/cart/change?quantity={{ quantity_minus_one }}&id={{ line_item.key }}" data-quantity="{{ quantity_minus_one }}" data-line-id="{{ line_item.key }}" data-action="update-item-quantity">
                  {%- include 'icon' with 'minus' -%}
                </a>

                <input type="text" name="updates[{{ line_item.key }}]" id="updates_{{ line_item.key }}" class="QuantitySelector__CurrentQuantity" pattern="[0-9]*" data-line-id="{{ line_item.key }}" value="{{ line_item.quantity }}">

                {%- assign quantity_plus_one = line_item.quantity | plus: 1 -%}

                <a class="QuantitySelector__Button Link Link--primary" title="{{ 'cart.items.set_quantity' | t: new_quantity: quantity_plus_one }}" href="/cart/change?quantity={{ quantity_plus_one }}&id={{ line_item.key }}" data-quantity="{{ quantity_plus_one }}" data-line-id="{{ line_item.key }}" data-action="update-item-quantity">
                  {%- include 'icon' with 'plus' -%}
                </a>
              </div>
            </div>

            {%- comment -%} Bold:POv2.3 HYBRID {%- endcomment -%}
            <a href="/cart/update?updates[{{line_item.key}}]=0" class="CartItem__Remove Link Link--underline Link--underlineShort" data-quantity="0" data-line-id="{{ line_item.key }}" data-action="remove-item">{{ 'cart.items.remove' | t }}</a>            
          </div>
        {%- endcapture -%}

        {{ item_actions }}
      </div>

      {%- unless for_drawer -%}
        {{ item_actions }}

        <span class="CartItem__LinePrice Price Heading Text--subdued u-h7" data-money-convertible style="text-align: right">
          <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_total" style="display:none !important;"></span>
          {{ line_item.line_price | money }}      
        </span>
      {%- endunless -%}
    </div>

    {%- if for_drawer -%}
      </div>
    {%- endif -%}
  {%- endfor -%}
</div>

